*{
	padding: 0;
}
body{
	font-family : Arial, sans-serif;
	width: 100%;
	padding-top: 110px;
}
a{
	color :#8d736c !important;
}

.navbar{
	padding: 30px 0 0 0;
	background-color:#fff;
	transition:padding 0.4s;
	margin: 0;
	border: 0;
}
.navbar.scrolled{
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	padding: 5px 0;
}
#myNavbar{
	overflow-x: hidden;
}
#myNavbar ul li:last-child a{
	padding-right: 0;
}

.headpicture{
	background:url(../images/header2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 600px;
}
.container-fluid{
	padding: 0;
}

/* while scrolling */
.brandStyle{
	color: #487b83 !important;
	font-family : Cabin, sans-serif;
	font-size: 24px;
}
.menustyle{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

h1{
	color: #5a5b5b;
	font-size:24px;
	font-weight: bold;
	margin-top: 150px;
	font-family : Cabin, sans-serif;
}
.textStyle{
	color: #989999;
	font-size: 18px;
	text-align: justify;
	line-height: 1.5;
	max-width: 700px;
	margin: 80px auto 0 auto;
}
.textStyle a{
	text-decoration:underline;
}
.textStyle a:hover{
	text-decoration: none;
}
.latestProjects{
	max-width: 900px;
	margin : 80px auto 0 auto;
}
.latestProjects p{
	font-size: 16px;
	color: #757879;
	width: 260px;
	text-align: left;
	margin: 13px auto 60px auto;
}
.latestProjects p a{
	font-size: 12px;
	display: block;
	width: 80px;
	white-space: nowrap;
	margin-top: 6px;
}
.latestProjects img{
	width:260px;
	background-color: #f2f2f2;
	height: 250px;
}
.footer{
	padding: 13px 0px 0px 0px;
	border-top: 1px solid #e5e5e5;
	color: #757879;
	font-size: 12px;
	margin: 70px auto 20px auto;
}

/* Social */
.socialButtons img{
	width:36px;
	opacity:0.6;
}
.socialButtons a{
	display:inline-block;
}
.socialButtons a:hover img{
	opacity:0.8;
}
#footerLogoText{
	line-height:30px;
}


@media (max-width: 992px) {
	body{
		padding-top: 76px;
	}
	li{
		padding-left:8px;
	}
	h1 {
		margin-top: 80px;
	}
	.navbar{
		padding: 16px 0 !important;
	}
	.headpicture{
		height: 250px;
	}
	.textStyle{
		margin-top: 40px;
	}
	.titleStyle{
		margin-top: 70px;
	}
	.footer{
		margin: 40px auto;
	}
	#footerLogoText{
		text-align: center;
	}
	.responsiveAlign {
		text-align: center;
		padding: 5px ;
	}

}
@media (min-width: 993px) {
	.responsiveAlign {
		float: right;
	}
}

